@use '@/assets/styles/variables' as var;

.inputWrapper {
  position: relative;
  width: 100%;

  .icon {
    position: absolute;
    top: 11px;
    left: 13px;
  }

  .cmSearchInput {
    height: 40px;
    width: 100%;
    padding-left: 40px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid var.$gray-10;
    &::placeholder {
      color: var.$gray-20;
    }
    &:focus {
      border: 1px solid var.$gray-alpha-87;
    }
    &:disabled {
      color: 1px solid var.$gray-alpha-64;
    }
    &.isError {
      border: 1px solid var.$red-50;
    }
  }
}
