.cmBottomNavigation {
  height: 50px;
  position: fixed;
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .link {
    padding: 10px;
  }
}
