@use '@/assets/styles/variables' as var;

.cmButton {
  border-radius: 7px;
  font-size: 14px;
  color: var.$black;
  font-weight: 700;
  text-align: center;
  padding: 6px 10px;
  width: 100%;
  position: relative;
  cursor: pointer;

  &.isDisabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  &.prevIcon {
    padding-left: 35px;
    padding-right: 35px;
    .prev {
      position: absolute;
      left: 19px;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }

  &.solid {
    color: var.$white;
    background-color: var.$primary-50;
    &:disabled {
      background-color: var.$gray-20;
    }
  }
  &.outline {
    color: var.$primary-50;
    background-color: transparent;
    border: 1px solid var.$primary-50;
    background-color: #fff;
  }
  &.solidRed {
    color: var.$white;
    // background-color: var.$red-50;
    background-color: #e53e3e;
    border: 1px solid #e53e3e;
  }
}
