@use '@/assets/styles/variables' as var;

.inputWrapper {
  position: relative;
  width: 100%;
  .visibility {
    width: 40px;
    background-color: white;
    position: absolute;
    right: 2px;
    &.on {
      top: 11px;
    }
    &.off {
      top: 9px;
    }
  }

  .searchIcon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  .cmInput {
    height: 40px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    &::placeholder {
      color: #d3d3d3;
    }
    &:focus {
      border: 1px solid rgba(36, 36, 36, 0.87);
    }
    &:disabled {
      color: 1px solid rgba(36, 36, 36, 0.64);
    }
    &.isError {
      border: 1px solid #b94249;
    }
    &.showIcon {
      padding-left: 40px;
    }
  }
}
