@use '@/assets/styles/variables' as var;

.cmButton {
  border-radius: 40px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 0 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  cursor: pointer;
  &.isDisabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.outline {
    color: #fff;
  }
  &.outlineRed {
    background-color: #b94249;
    color: #fff;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #d3d3d3 !important;
    color: #fff !important;
    border: none !important;
  }

  .leftIcon {
    margin-right: 8px;
    display: block;
    margin-top: 1px;
  }
  .rightIcon {
    margin-left: 8px;
    display: block;
    margin-top: 1px;
  }
}
