@use '@/assets/styles/variables' as var;

.inputWrapper {
  position: relative;
  width: 100%;
  .visibility {
    width: 40px;
    background-color: white;
    position: absolute;
    right: 2px;
    &.on {
      top: 9px;
    }
    &.off {
      top: 9px;
    }
  }
}
