@use '@/assets/styles/variables' as var;

.textareaWrapper {
  position: relative;
  width: 100%;
  .cmTextarea {
    height: 100px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid var.$gray-10;
    font-size: 16px;
    &::placeholder {
      color: var.$gray-20;
    }
    &:focus {
      border: 1px solid var.$gray-alpha-87;
    }
    &:disabled {
      color: 1px solid var.$gray-alpha-64;
    }
    &.isError {
      border: 1px solid var.$red-50;
    }
    &.showIcon {
      padding-left: 40px;
    }
  }
}
