.cmHeader {
  height: 50px;
  border-bottom: 0.5px solid #ddd;
  background-color: #fff;
  border-bottom: 0.5px solid #ddd;
  position: relative;
  .menuList {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 200px;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    background-color: #fff;
    .menu {
      padding: 8px;
      &:nth-of-type(n + 2) {
        border-top: 1px solid #cbd5e0;
      }
    }
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;

    .icon {
      padding: 10px;
      cursor: pointer;
    }
  }
}
